<!DOCTYPE html>
<html lang="en" class="has-background-grey-lightend">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <section>
        <%- include('partials/header.ejs') %>

            <div class="header-cards">
                <div class="card gradient">
                    <div class="card-header">
                        <div>
                            Total Cases
                        </div>
                        <div class="covid-header-image">
                            <img class="covid-header-image" src="/icons/covid-white.png" alt="">

                        </div>
                    </div>
                    <div class="card-number">
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-1].total_cases)%>
                    </div>
                    <div class="card-footer">last updated:
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-1].date)%>
                    </div>
                </div>

                <div class="card gradient">
                    <div class="card-header">
                        <div>
                            Total Vaccinations
                        </div>
                        <div class="covid-header-image">
                            <img class="covid-header-image" src="/icons/vaccine-white.png" alt="">

                        </div>
                    </div>
                    <div class="card-number">
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-2].total_vaccinations)%>
                    </div>
                    <div class="card-footer">last updated:
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-2].date)%>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header gradient_text">
                        <div class="card-header">
                            New Cases
                        </div>
                        <div class="covid-header-image">
                            <img class="covid-header-image" src="/icons/mask-gradient.png" alt="">

                        </div>
                    </div>
                    <div class="card-number gradient_text">
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-1].new_cases)%>
                    </div>
                    <div class="card-footer gradient_text">last updated:
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-1].date)%>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header gradient_text">
                        <div class="card-header">
                            New Vaccinations
                        </div>
                        <div class="covid-header-image">
                            <img class="covid-header-image" src="/icons/vaccine-gradient.png" alt="">

                        </div>
                    </div>
                    <div class="card-number gradient_text">
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-2].new_vaccinations)%>
                    </div>
                    <div class="card-footer gradient_text">last updated:
                        <%= JSON.stringify(data["OWID_WRL"].data[data["OWID_WRL"].data.length-2].date)%>
                    </div>
                </div>
            </div>


            <div class="countries">
                <div class="countries_header gradient">

                </div>
                <div class="country_card gradient_text">
                    <div class="country_card_header">
                        <div>
                            <div class="country_card_flag">
                            </div>
                        </div>
                        <div class="country_card_header_overview">
                            <div class="country_card_header_country">
                                <%= JSON.stringify(data["USA"].location)%>
                            </div>
                            <div class="country_card_header_total_cases">Total Cases</div>
                            <div class="country_card_header_total_cases">
                                <div><img class="covid-header-image" src="/icons/covid-gradient.png" alt="">
                                </div>
                                <div class="country_card_header_total_cases_num">
                                    <%= JSON.stringify(data["USA"].data[data["USA"].data.length-1].total_cases)%>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="country_card_details">
                        <div class="country_card_vaccinations">
                            <div class="country_card_vaccinations_img"></div>
                            <div>
                                <div class="country_card_header_country">
                                    <%= JSON.stringify(data["USA"].location)%>
                                </div>
                                <div class="country_card_header_total_cases">Total Cases</div>

                            </div>
                        </div>
                        <div class="country_card_vaccinations">

                        </div>
                        <div class="country_card_new_cases">

                        </div>
                        <div class="country_card_death">

                        </div>
                    </div>

                </div>
            </div>

    </section>

    <%- include('partials/footer.ejs') %>
        <script src="/scripts/navbar.js"></script>
</body>

</html>