<!DOCTYPE html>
<html lang="en" class="has-background-grey-lightend">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <%- include('partials/header.ejs') %>
        <section>
            <div class="header_cards">
                <div class="header_card gradient">
                    <p class="title">Total Cases</p>
                    <img class="icon" src="/icons/covid-white.png" alt="">
                    <p class="number">
                        <%= global.cases%>
                    </p>
                    <p class="date">
                        <%= Date(global.cases).toString()%>
                    </p>

                </div>
                <div class="header_card gradient">
                    <p class="title">Total Recoveries</p>
                    <img class="icon" src="/icons/vaccinated-white.png" alt="">
                    <p class="number">
                        <%= global.recovered%>
                    </p>
                    <p class="date">
                        <%= Date(global.cases).toString()%>
                    </p>

                </div>
                <div class="header_card  shadow">
                    <p class="title gradient_text">New Cases</p>
                    <img class="icon gradient_text" src="/icons/mask-gradient.png" alt="">
                    <p class="number gradient_text">
                        <%= global.todayCases%>
                    </p>
                    <p class="date">
                        <%= Date(global.cases).toString()%>
                    </p>

                </div>
                <div class="header_card shadow">
                    <p class="title  gradient_text">New Vaccinations</p>
                    <img class="icon  gradient_text" src="/icons/active-cases.png" alt="">
                    <p class="number  gradient_text">
                        <%= global.active%>
                    </p>
                    <p class="date">
                        <%= Date(global.cases).toString()%>
                    </p>

                </div>
            </div>
            <div class="country_data_section">
                <div class="country_data_nav">
                    asd
                </div>

                <div class="country_data">



                    <%for (const country in countries){%>
                        <div class="country_card shadow">
                            <p class="country_card_title gradient_text">
                                <%= countries[country].country%>
                            </p>
                            <div class="country_card_total_cases">
                                <img class="country_card_image"
                                    src=<%=String(`/images/flags/png100px/${countries[country].countryInfo.iso2}.png`).toLowerCase()%>
                                alt="">

                                <p class="number gradient_text">Total Cases</p>
                                <p class="date gradient_text">
                                    <%= countries[country].cases%>
                                </p>
                            </div>
                            <div class="country_card_other_details_parent">
                                <div class="country_card_other_details">

                                    <p class="number gradient_text">Total Recoveries</p>
                                    <p class="date gradient_text">
                                        <%= countries[country].recovered%>
                                    </p>
                                </div>

                                <div class="country_card_other_details">

                                    <p class="number gradient_text">Active Cases</p>
                                    <p class="date gradient_text">
                                        <%= countries[country].active%>
                                    </p>
                                </div>

                                <div class="country_card_other_details">

                                    <p class="number gradient_text">New Cases</p>
                                    <p class="date gradient_text">
                                        <%= countries[country].todayCases%>
                                    </p>
                                </div>

                                <div class="country_card_other_details">
                                    <p class="number gradient_text">Total Deaths</p>
                                    <p class="date gradient_text">
                                        <%= countries[country].deaths%>
                                    </p>
                                </div>
                            </div>

                                <div class="country_card_date">
                                    <p class="date gradient_text">
                                        <%= Date(countries[country].updated).toString()%>
                                    </p>
                                </div>

                        </div>
                        <%}%>



                </div>
            </div>
            </div>
        </section>


        <script src="/scripts/navbar.js"></script>
</body>

</html>